<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>职位</th>
      <th>名称</th>
      <th>地点</th>
      <th>薪资</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Python研发负责人(001066)</td>
      <td>北京融联世纪信息技术有限公司</td>
      <td>https://jobs.51job.com/all/co2768201.html</td>
      <td>北京</td>
      <td>3-5万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>北京学神科技有限公司</td>
      <td>https://jobs.51job.com/all/co5299192.html</td>
      <td>北京-昌平区</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>全栈python开发工程师</td>
      <td>北京道冲泰科科技有限公司</td>
      <td>https://jobs.51job.com/all/co4518046.html</td>
      <td>北京-朝阳区</td>
      <td>15-20万/年</td>
    </tr>
    <tr>
      <td>Python高级开发工程师</td>
      <td>叠云（北京）科技股份有限公司</td>
      <td>https://jobs.51job.com/all/co3743694.html</td>
      <td>北京</td>
      <td>1.2-1.5万/月</td>
    </tr>
    <tr>
      <td>Python高级开发工程师</td>
      <td>南京高泰科技有限公司</td>
      <td>https://jobs.51job.com/all/co2691033.html</td>
      <td>北京-石景山区</td>
      <td>2-2.5万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师-ZH</td>
      <td>北京四维图新科技股份有限公司</td>
      <td>https://jobs.51job.com/all/co298732.html</td>
      <td>北京</td>
      <td>2-4万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>中国广视索福瑞媒介研究有限责任公司</td>
      <td>https://jobs.51job.com/all/co279126.html</td>
      <td>北京-朝阳区</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>进化时代科技（北京）有限责任公司</td>
      <td>https://jobs.51job.com/all/co3543534.html</td>
      <td>北京-海淀区</td>
      <td>2-4万/月</td>
    </tr>
    <tr>
      <td>Python高级开发工程师</td>
      <td>北京量子保科技有限公司</td>
      <td>https://jobs.51job.com/all/co4989261.html</td>
      <td>北京-海淀区</td>
      <td>2.5-3万/月</td>
    </tr>
    <tr>
      <td>Python教学研发经理</td>
      <td>北京八维研修学院</td>
      <td>https://jobs.51job.com/all/co252094.html</td>
      <td>北京-海淀区</td>
      <td>2-2.5万/月</td>
    </tr>
    <tr>
      <td>Python后端开发工程师</td>
      <td>北京多来点信息技术有限公司</td>
      <td>https://jobs.51job.com/all/co2671689.html</td>
      <td>北京-西城区</td>
      <td>1.5-2.5万/月</td>
    </tr>
    <tr>
      <td>Python高级开发工程师</td>
      <td>北京棣南新宇科技有限公司</td>
      <td>https://jobs.51job.com/all/co3511653.html</td>
      <td>北京-海淀区</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>数据处理（懂python）</td>
      <td>文思海辉技术有限公司Pactera Technology International Lim...</td>
      <td>https://jobs.51job.com/all/co2204116.html</td>
      <td>北京</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>ETL工程师/Python工程师</td>
      <td>北京融英乐知科技有限公司</td>
      <td>https://jobs.51job.com/all/co4355467.html</td>
      <td>北京-西城区</td>
      <td>1.5-1.9万/月</td>
    </tr>
    <tr>
      <td>Python 后台开发工程师</td>
      <td>北京推题科技有限公司</td>
      <td>https://jobs.51job.com/all/co5153117.html</td>
      <td>北京-海淀区</td>
      <td>1-1.6万/月</td>
    </tr>
    <tr>
      <td>Python高级开发工程师</td>
      <td>图玛深维医疗科技（北京）有限公司</td>
      <td>https://jobs.51job.com/all/co4107761.html</td>
      <td>北京-朝阳区</td>
      <td>2-3万/月</td>
    </tr>
    <tr>
      <td>Python算法工程师</td>
      <td>中经网数据有限公司</td>
      <td>https://jobs.51job.com/all/co2571548.html</td>
      <td>北京-西城区</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>高级python开发工程师</td>
      <td>北京中体骏彩信息技术有限公司</td>
      <td>https://jobs.51job.com/all/co4596619.html</td>
      <td>北京-朝阳区</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>麦田春雪科贸（北京）有限公司</td>
      <td>https://jobs.51job.com/all/co3346767.html</td>
      <td>北京-朝阳区</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>python爬虫工程师</td>
      <td>北京法宣在线科技有限公司</td>
      <td>https://jobs.51job.com/all/co3587314.html</td>
      <td>北京-海淀区</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>python区块链工程师</td>
      <td>北京布路诺超链科技有限公司</td>
      <td>https://jobs.51job.com/all/co5002197.html</td>
      <td>北京-海淀区</td>
      <td>1-3万/月</td>
    </tr>
    <tr>
      <td>高级Linux工程师（c/c++ 、php、python）</td>
      <td>北京安德信业信息咨询有限责任公司</td>
      <td>https://jobs.51job.com/all/co3818544.html</td>
      <td>北京</td>
      <td>30-55万/年</td>
    </tr>
    <tr>
      <td>python高级开发工程师</td>
      <td>北京博学慎思教育科技有限公司</td>
      <td>https://jobs.51job.com/all/co3594517.html</td>
      <td>北京-海淀区</td>
      <td>2-4万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>中金智汇科技有限责任公司</td>
      <td>https://jobs.51job.com/all/co4867594.html</td>
      <td>北京-大兴区</td>
      <td>1.5-3万/月</td>
    </tr>
    <tr>
      <td>python 研发工程师</td>
      <td>长安通信科技有限责任公司</td>
      <td>https://jobs.51job.com/all/co2827826.html</td>
      <td>北京-朝阳区</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>Python培训讲师</td>
      <td>北京中公教育科技股份有限公司</td>
      <td>https://jobs.51job.com/all/co3862127.html</td>
      <td>北京</td>
      <td>1-2万/月</td>
    </tr>
    <tr>
      <td>Java/Python高级工程师</td>
      <td>银河互联网电视有限公司</td>
      <td>https://jobs.51job.com/all/co3616041.html</td>
      <td>北京-丰台区</td>
      <td>1.5-2.5万/月</td>
    </tr>
    <tr>
      <td>python后端工程师</td>
      <td>北京商高科技有限公司</td>
      <td>https://jobs.51job.com/all/co4049675.html</td>
      <td>北京-丰台区</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>博彦科技股份有限公司</td>
      <td>https://jobs.51job.com/all/co3872886.html</td>
      <td>北京</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>python全栈开发工程师</td>
      <td>大唐奇安网络科技有限公司</td>
      <td>https://jobs.51job.com/all/co4873443.html</td>
      <td>北京-朝阳区</td>
      <td>1-2万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>中科博宏（北京）科技有限公司</td>
      <td>https://jobs.51job.com/all/co5029483.html</td>
      <td>北京-朝阳区</td>
      <td>1.5-3万/月</td>
    </tr>
    <tr>
      <td>Python后端高级开发工程师</td>
      <td>武汉皮皮外语网络科技有限公司</td>
      <td>https://jobs.51job.com/all/co5256630.html</td>
      <td>北京-海淀区</td>
      <td>1.5-2.5万/月</td>
    </tr>
    <tr>
      <td>python工程师</td>
      <td>国和瑞斯（北京）科技有限公司</td>
      <td>https://jobs.51job.com/all/co3783901.html</td>
      <td>北京-海淀区</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>Python高级研发工程师</td>
      <td>北京好巧国际旅行社有限公司</td>
      <td>https://jobs.51job.com/all/co3815622.html</td>
      <td>北京</td>
      <td>2-3.5万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>北京中油瑞飞信息技术有限责任公司</td>
      <td>https://jobs.51job.com/all/co2235579.html</td>
      <td>北京-东城区</td>
      <td>1-2万/月</td>
    </tr>
    <tr>
      <td>python研发工程师</td>
      <td>颉一软件科技有限公司</td>
      <td>https://jobs.51job.com/all/co3851546.html</td>
      <td>北京</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>北京斯普信信息技术有限公司</td>
      <td>https://jobs.51job.com/all/co2187800.html</td>
      <td>北京</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>Python讲师</td>
      <td>北京智联友道科技有限公司</td>
      <td>https://jobs.51job.com/all/co4374532.html</td>
      <td>北京-海淀区</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>Python工程师</td>
      <td>中讯志远（武汉）科技有限公司</td>
      <td>https://jobs.51job.com/all/co3605419.html</td>
      <td>北京-朝阳区</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>Python 数据分析/人工智能讲师</td>
      <td>北京网络职业学院</td>
      <td>https://jobs.51job.com/all/co3950390.html</td>
      <td>北京-房山区</td>
      <td>1.8-2.5万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师4775</td>
      <td>普信恒业科技发展（北京）有限公司</td>
      <td>http://creditease.51job.com</td>
      <td>北京</td>
      <td>2.5-3万/月</td>
    </tr>
    <tr>
      <td>JAVA/Python开发工程师(3691)</td>
      <td>完美世界（北京）总部/完美时空</td>
      <td>https://jobs.51job.com/all/co2215669.html</td>
      <td>北京</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>绫致时装（天津）有限公司</td>
      <td>https://jobs.51job.com/all/co181210.html</td>
      <td>北京-朝阳区</td>
      <td>1-1.5万/月</td>
    </tr>
    <tr>
      <td>Python开发</td>
      <td>亚信科技（中国）有限公司</td>
      <td>https://jobs.51job.com/all/co303468.html</td>
      <td>北京-海淀区</td>
      <td>1-2万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>苏州闻道网络科技股份有限公司</td>
      <td>https://jobs.51job.com/all/co2526056.html</td>
      <td>北京-丰台区</td>
      <td>1.3-2万/月</td>
    </tr>
    <tr>
      <td>Python高级开发工程师</td>
      <td>北京微聚万家科技有限公司</td>
      <td>https://jobs.51job.com/all/co3350935.html</td>
      <td>北京-朝阳区</td>
      <td>1.5-2万/月</td>
    </tr>
    <tr>
      <td>Python软件工程师</td>
      <td>北京四中网校</td>
      <td>https://jobs.51job.com/all/co191952.html</td>
      <td>北京</td>
      <td>1.5-3万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>北京朗镜科技有限责任公司</td>
      <td>https://jobs.51job.com/all/co5011287.html</td>
      <td>北京-朝阳区</td>
      <td>2-2.5万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>北京呈诺医学科技有限公司</td>
      <td>https://jobs.51job.com/all/co3992549.html</td>
      <td>北京-大兴区</td>
      <td>1.5-3万/月</td>
    </tr>
    <tr>
      <td>高级Python工程师</td>
      <td>汇中泰德投资有限公司</td>
      <td>https://jobs.51job.com/all/co3817099.html</td>
      <td>北京</td>
      <td>2.5-4万/月</td>
    </tr>
    <tr>
      <td>Python开发工程师</td>
      <td>北京永信至诚科技股份有限公司</td>
      <td>https://jobs.51job.com/all/co3268331.html</td>
      <td>北京</td>
      <td>1.5-2万/月</td>
    </tr>
  </tbody>
</table>